{#
/**
 * @file footnote-list.html.twig
 * Default theme implementation to present a list of reference footnotes.
 *
 * Available variables:
 * - footnotess: A list of footnotes
 * - notes: A list of free-form notes
 * - references: A list of citations
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_footnote_list().
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('footnote-list') }}>
    Sup my pals.
    <h3>Notes</h3>
    <ul{{ attributes.addClass('notes') }}>
        {%  for note in notes %}
            <li{{ item.attributes.addClass('footnote') }} id="{{ note.id }}"><a href={{ note.link_url }}>{{ note.link_text }}</a> {{ note.text }}</li>
        {% endfor %}
    </ul>
    <h3>References</h3>
    <ul{{ attributes.addClass('footnotes') }}>
        {%  for reference in references %}
            <li{{ item.attributes.addClass('footnote') }} id="{{ reference.id }}"><a href={{ reference.link_url }}>{{ reference.link_text }}</a> {{ reference.citation }}</li>
        {% endfor %}
    </ul>
</div>
